{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "campaignId" : $util.dynamodb.toDynamoDBJson($context.arguments.campaignInput.campaignId)
    },
    "attributeValues" : {
        "campaignName": $util.dynamodb.toDynamoDBJson($context.arguments.campaignInput.campaignName),
        "campaignType": $util.dynamodb.toDynamoDBJson($context.arguments.campaignInput.campaignType),
        "campaignValue": $util.dynamodb.toDynamoDBJson($context.arguments.campaignInput.campaignValue)
    }
}